<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  type="text/css" href="./login.css" />
    <title>login</title>
</head>
<body>
    <div class="wrapper">
        <form action="/login" method='POST' class="blogs__login">
            <h2>Log In</h2>
            <div class="login__input">
                    <p>USERNAME</p>
                    <input type="text" name="username">
            </div>
            <div class="login__input">
                    <p>PASSWORD</p>
                    <input type="password" name="password">
            </div>
            <input type="submit" class="blog__submitbutton">
        </form>
        <%=  errorMessage %>
    </div>
</body>
</html>