<div class="nav__left">
  <ul>
      <li id="first"><a href="/">Who's Blog</a></li>
      <li><a href="/list">文章列表</a></li>
      <li>分類專區</li>
      <li>關於我</li>
  </ul>
</div>
<div class="nav__right">
    <ul>
      <% if(roleId === 1) { %>
        <li><a href="/admin">管理後臺</a></li> 
        <li><a href="/add">新增文章</a></li>
      <% } %>    
      <% if(username) { %> 
        <li><a href="/logout">登出</a></li>
      <% } else { %>  
        <li><a href="/login">登入</a></li>
      <% } %>   
    </ul>
</div>